extends layout

block content
  div.jumbotron.my-3
    a(href="/auth/github").btn.btn-info.my-3 GitHubでログイン
    div.text-center
      img(src="/images/pixel-cells-3976302_640.png" alt="Responsive image")
    div.text-right
      a(href="https://pixabay.com/ja/users/manfredsteger-1848497/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3976302") Manfred Steger による
      a(href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3976302") Pixabay からの画像
      