extends layout

block content
  div.jumbotron.my-3
    a(href="/auth/github").btn.btn-info.my-3 GitHubでログイン
    div.text-center
      img.rounded.mx-auto.d-block(src="/images/pixel-cells-3976302_640.png" alt="")